@{
    ViewData["Title"] = "Pets";
}

<div class="text-center">
    <h1 class="display-4">Pets Lost and Found</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
