@{
    ViewData["Title"] = "Pets";
}

<div class="text-center">
    <h1 class="display-3">Pets Lost and Found</h1>
</div>
    <div style="width:90%;float:right; text-align:center">
        <img src="https://petsmsustorageaccount.blob.core.windows.net/pets/pets_main.jpg" alt="Image" style="max-width:90%;" title="Animals Together" />
    </div>
