@page
@model PetsLostAndFound.Pages.Pets.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Pet</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Pet.Name" class="control-label"></label>
                <input asp-for="Pet.Name" class="form-control" />
                <span asp-validation-for="Pet.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pet.Breed" class="control-label"></label>
                <input asp-for="Pet.Breed" class="form-control" />
                <span asp-validation-for="Pet.Breed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pet.ImageUrl" class="control-label"></label>
                <input asp-for="Pet.ImageUrl" class="form-control" />
                <span asp-validation-for="Pet.ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pet.Description" class="control-label"></label>
                <input asp-for="Pet.Description" class="form-control" />
                <span asp-validation-for="Pet.Description" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Pet.Microchipped" /> @Html.DisplayNameFor(model => model.Pet.Microchipped)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Pet.Microchip" class="control-label"></label>
                <input asp-for="Pet.Microchip" class="form-control" />
                <span asp-validation-for="Pet.Microchip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pet.RegisterId" class="control-label"></label>
                <input asp-for="Pet.RegisterId" class="form-control" />
                <span asp-validation-for="Pet.RegisterId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pet.AdoptionDate" class="control-label"></label>
                <input asp-for="Pet.AdoptionDate" class="form-control" />
                <span asp-validation-for="Pet.AdoptionDate" class="text-danger"></span>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Pet.Lost" /> @Html.DisplayNameFor(model => model.Pet.Lost)
                </label>
            </div>

            <div class="form-group">
                <label asp-for="Pet.LostDate" class="control-label"></label>
                <input asp-for="Pet.LostDate" class="form-control" />
                <span asp-validation-for="Pet.LostDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
